<form [formGroup]="createTeamForm" class="newTeamForm">
  <h2>Crea tu equipo</h2>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Nombre del equipo</mat-label>
    <input
      matInput
      placeholder="Ex. Pizza"
      type="text"
      formControlName="teamName"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Estadio</mat-label>
    <input
      matInput
      placeholder="Ex. Pizza"
      type="text"
      formControlName="stadium"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Sitio web</mat-label>
    <input
      matInput
      placeholder="Ex. Pizza"
      type="text"
      formControlName="website"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Nacionalidad</mat-label>
    <input
      matInput
      placeholder="Ex. Pizza"
      type="text"
      formControlName="nacionality"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Año de fundación</mat-label>
    <input
      matInput
      placeholder="Ex. Pizza"
      type="text"
      formControlName="trainer"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Entrenador</mat-label>
    <input
      matInput
      placeholder="Ex. Pizza"
      type="text"
      formControlName="capacity"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Capacidad</mat-label>
    <input
      matInput
      placeholder="Ex. Pizza"
      type="text"
      formControlName="value"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Valor</mat-label>
    <input matInput placeholder="Ex. Pizza" type="text" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="createTeam()">
    Crear equipo
  </button>
</form>
